<head>
    <title>Leaderboard</title>
</head>
<body>
    {{> loginButtons}}
    <h1>Leaderboard</h1>
    {{> leaderboard}}
</body>

<template name="leaderboard">
  <ul>
      {{#each player}}
          <li class="player {{selectedClass}}">{{name}}: {{score}}</li>
      {{/each}}
      <li>
        <input type="button" class="increment" value="Give 5 Points">
        <input type="button" class="decrement" value="Take 5 Points">
        <input type="button" class="remove" value="Remove Player">
      </li>
      {{#if showSelectedPlayer}}
        <li>Selected Player: {{showSelectedPlayer.name}}</li>
      {{/if}}
  </ul>
  {{>addPlayerForm}}
</template>

<template name="addPlayerForm"> 
  {{#if currentUser}}
    <form>
    <input type="text" name="playerName"> <input type="submit" value="Add Player">
    </form>
  {{/if}}
</template>